<section id="cart_items">
    <div class="container">	    
	    <div class="table-responsive cart_info">
		    <table class="table table-condensed">
			    <thead>
				    <tr class="cart_menu">
					    <td class="description"></td>
					    <td class="description">No</td>
					    <td class="price">Total Products</td>
					    <td class="quantity">Total Quantity</td>
					    <td class="total">Price</td>
					    <td></td>
				    </tr>
			    </thead>
			    <tbody>
				<% @orders && @orders.each_with_index do |order, index| %>
				    <tr>
					    <td class="cart_description">
						    <p></p>
					    </td>
					    <td class="cart_description">
						    <p><%= index + 1 %></p>
					    </td>
					    <td class="cart_price">
						    <p><%= order.order_products.count %></p>
					    </td>
					    <td class="cart_quantity">
						    <p><%= order.order_products.sum(:quantity) %></p>
					    </td>
					    <td class="cart_total">
						    <p>$<%= order.value %></p>
					    </td>
					    <td class="cart_delete">
						<%= link_to 'Show Order ', order_path(order), class: "btn btn-primary" %>
					    </td>
				    </tr>
				  <% end %>
			    </tbody>
		    </table>
	    </div>
    </div>
</section>